
.oneFilm {
    background: linear-gradient(#6c81aa, #404042);
    padding: 30px;
    min-height: 100vh;
}

.name {
    font-size: 25px;
    margin-bottom: 40px;
    font-weight: bold;
}

.img {
    width: 30%;
}

.container {
    display: flex;
    gap: 50px;
    align-items: flex-start;
}

.button {
    padding: 5px 15px;
    margin-bottom: 15px;
    background-color: #7690c595;
    border: 1px solid #1c2330;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 30px;
    cursor: pointer;
}

.pictures img {
    object-fit: contain;
    height: 200px;
}