
.main {
    background: url("./../../images/main.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* .block {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(59, 58, 58, 0.689);
    width: 100vw;
    z-index: 1;
} */

.search {
    width: 100%;
}

.genres {
    width: 70%;
    margin: 0 auto;
    background: rgba(136, 162, 214, 0.464)
}

.item {
    cursor: pointer;
    display: inline-block;
    width: 33%;
    text-align: center;
    font-size: 18px;
}