
.main {
    background: url("./../../images/main.png");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.search {
    width: 100%;
}

.genres {
    width: 70%;
    margin: 0 auto;
    background: rgba(136, 162, 214, 0.662);
    border-radius: 30px;
    padding: 20px;
}

.item {
    display: inline-block;
    width: 33%;
    text-align: center;
    font-size: 21px;
    padding: 2px;
}

.item span {
    cursor: pointer;
}

@media screen and (max-width: 770px) {
    .item {
        width: 100%;
        font-size: 18px;
    }

    .genres {
        margin-bottom: 20px;
    }

}